<mat-card class="card">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email Id" formControlName="email" name="email" />
        <mat-error *ngIf="submitted && loginForm.controls.email.errors">
          <span *ngIf="loginForm.controls.email.errors?.required"> Please enter Email Id </span>
          <span *ngIf="loginForm.controls.email.errors?.pattern"> Please enter valid Email Id </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" name="password" />
        <mat-error *ngIf="submitted && loginForm.controls.password.errors">
          <span *ngIf="loginForm.controls.password.errors?.required"> Please enter Password</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
      <div class="mr-10" fxFlex="20">
        <button [disabled]="loading" mat-raised-button color="primary">
          Login
        </button>
      </div>
      <a fxFlex="20" mat-button routerLink="/register">Register</a>
    </div>
  </form>
</mat-card>
